name: executing remote ssh commands using password
uses: appleboy/ssh-action@ master
with:
host: ${{ secrets.HOST }}
username: ${{ secrets.USERNAME }}
password: ${{ secrets.PASSWORD }}
port: 2222
script: echo “Hello World”